{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 100,
  "arrowParens": "always",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all"
}
